form{
	width: 35%;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 1%;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
}

.form_structure{
	margin: 2%;
	display: flex;
	flex-direction: column;
}

.form_structure label{
	margin: 2%;
	font-size: 1.4rem;

}

.core_options{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 4%;
}

form:before{
	position: absolute;
	content: "";
	z-index: -1;	
	top: -2px;
	left: -2px;
	width: 0;
	height: 0;
	background: none;
	border: 2px solid transparent;
}

form:hover:before{
	animation: animate 1s linear forwards;
}

@keyframes animate{

	0%{
		width: 0;
		height: 0;
		border-top-color: #262626;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}

	50%{
		width: 100%;
		height: 0%;
		border-top-color: #262626;
		border-right-color: #262626;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}

	100%{
		width: 100%;
		height: 100%;
		border-top-color: #262626;
		border-right-color: #262626;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
}

form:after{
	position: absolute;
	content: "";
	z-index: -1;	
	top: -2px;
	left: -2px;
	width: 0;
	height: 0;
	background: transparent;
	border: 2px solid transparent;
}

form:hover:after{
	animation: animate2 1s linear forwards;
}

@keyframes animate2{

	0%{
		width: 0;
		height: 0;
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: #262626;
	}

	50%{
		width: 0%;
		height: 100%;
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: #262626;
		border-left-color: #262626;
	}

	100%{
		width: 100%;
		height: 100%;
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: #262626;
		border-left-color: #262626;
	}
}