@media screen and (max-width: 800px) {

  .components_wrapper{
  	display: flex;
	flex-direction: row;
	justify-content: center;
  }

  form{
	width: 35%;
	margin-right: 2%;
  }

  .result_container{
	width: 35%;
	margin-left: 2%;
  }

  .generator_button{
	padding-top: 2%;
	padding-bottom: 2%;
  }

}