@media screen and (max-width: 800px) {

  .components_wrapper{
  	display: flex;
  	flex-direction: row;
  	justify-content: center;
  }

  form{
  	
  	margin-right: 2%;
  }

  .result_container{
  	
  	margin-left: 2%;
    
  }

  .generator_button{
    margin-top: 10%;
  	padding-top: 8%;
  	padding-bottom: 8%;
  }

  .person_list li{
    padding: 4%;
  }

  h5 a{
    font-size: 0.8rem;
  }
  
}



